<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<div class="container">
    <h2>Адміністративна панель</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a asp-area="" asp-controller="Customer" asp-action="Index">Клієнти</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Good" asp-action="Index">Товари</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Storage" asp-action="Index">Склади</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Producer" asp-action="Index">Виробники</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Order" asp-action="Index">Замовлення</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Review" asp-action="Index">Підтвердити відгуки</a>
        </li>
    </ul>
</div>