@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<link rel="stylesheet" href="~/css/About.css" />

<div class="container">
    <div class="row text-center">
        <h2>Our Team</h2>
    </div>
    <div class="row justify-content-md-center developers">
        <div class="col-lg-12 col">
            <div class="developer row text-center">
                <div class="col-12 col-lg-3 developer__img">
                    <img src="~/images/developers/OlehKuts.jpg" />
                </div>
                <div class="col-12 col-lg-3 developer__name">
                    <p>Oleh Kuts</p>
                </div>
                <div class="col-12 col-lg-3 developer__description">
                    <p>Team lead</p>
                    <p>Fullstack developer</p>
                    <p>Database engineer</p>
                </div>
                <div class="col-12 col-lg-3 developer__links text-center">
                    <a href="#"><div><img src="~/images/facebook.svg" /></div></a>
                    <a href="#"><div><img src="~/images/linkedin.svg" /></div></a>
                    <a href="#"><div><img src="~/images/github.svg" /></div></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col">
            <div class="developer row text-center">
                <div class="col-12 col-lg-3 developer__img">
                    <img src="~/images/developers/AndriyGalas.jpg" />
                </div>
                <div class="col-12 col-lg-3 developer__name">
                    <p>Andriy Galas</p>
                </div>
                <div class="col-12 col-lg-3 developer__description">
                    <p>Fullstack developer</p>
                </div>
                <div class="col-12 col-lg-3 developer__links text-center">
                    <a href="#"><div><img src="~/images/facebook.svg" /></div></a>
                    <a href="#"><div><img src="~/images/linkedin.svg" /></div></a>
                    <a href="#"><div><img src="~/images/github.svg" /></div></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col">
            <div class="developer row text-center">
                <div class="col-12 col-lg-3 developer__img">
                    <img src="~/images/developers/IvanPyliak.png" />
                </div>
                <div class="col-12 col-lg-3 developer__name">
                    <p>Ivan Pyliak</p>
                </div>
                <div class="col-12 col-lg-3 developer__description">
                    <p>Fullstack developer</p>
                </div>
                <div class="col-12 col-lg-3 developer__links text-center">
                    <a href="#"><div><img src="~/images/facebook.svg" /></div></a>
                    <a href="#"><div><img src="~/images/linkedin.svg" /></div></a>
                    <a href="#"><div><img src="~/images/github.svg" /></div></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col">
            <div class="developer row text-center">
                <div class="col-12 col-lg-3 developer__img">
                    <img src="~/images/developers/AlexanderAntonyuk.jpg" />
                </div>
                <div class="col-12 col-lg-3 developer__name">
                    <p>Alexander Antonyuk</p>
                </div>
                <div class="col-12 col-lg-3 developer__description">
                    <p>Fullstack developer</p>
                </div>
                <div class="col-12 col-lg-3 text-right developer__links text-center">
                    <a href="#"><div><img src="~/images/facebook.svg" /></div></a>
                    <a href="#"><div><img src="~/images/linkedin.svg" /></div></a>
                    <a href="#"><div><img src="~/images/github.svg" /></div></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col">
            <div class="developer row text-center">
                <div class="col-12 col-lg-3 developer__img">
                    <img src="~/images/developers/OstapHvostyk.jpg" />
                </div>
                <div class="col-12 col-lg-3 developer__name">
                    <p>Ostap Hvostyk</p>
                </div>
                <div class="col-12 col-lg-3 developer__description">
                    <p>Fullstack developer</p>
                </div>
                <div class="col-12 col-lg-3 developer__links text-center">
                    <a href="#"><div><img src="~/images/facebook.svg" /></div></a>
                    <a href="#"><div><img src="~/images/linkedin.svg" /></div></a>
                    <a href="#"><div><img src="~/images/github.svg" /></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
