@model Store.ViewModels.ChangeOrderStatusView
@{
    ViewBag.Title = "Change order status";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<form asp-action="ChangeStatus" asp-controller="Manager">
    <div class="form-group" style="margin-top: 2%;">
        <label asp-for="Id" class="control-label">Number of order</label>
        <input type="number" asp-for="Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="OrderStatuses">Status</label>
        <select class="form-control" name="orderStatus">
            @foreach (var status in Model.OrderStatuses)
            {
                if (status == Model.CurrentStatus)
                {
                    <option selected>@status.ToString()</option>
                }
                else
                {
                    <option>@status.ToString()</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" name="SendEmail" asp-for="SendEmail" />
        <label asp-for="SendEmail" class="control-label">Send email</label>
    </div>
    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-primary" style="margin: 2% 35%; width: 30%;" />
    </div>
</form>
