@model Store.ViewModels.FindOrderView
@{
    ViewBag.Title = "Find Order";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<form asp-action="Find" asp-controller="Manager">
    <div class="form-group" style="margin-top: 2%;">
        <label asp-for="Id" class="control-label">Number of order</label>
        <input type="number" asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerName" class="control-label">Customer name</label>
        <input type="text" asp-for="CustomerName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerSurname" class="control-label">Customer surname</label>
        <input type="text" asp-for="CustomerSurname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerEmail" class="control-label">Customer email</label>
        <input type="text" asp-for="CustomerEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndPointCity" class="control-label">City</label>
        <input type="text" asp-for="EndPointCity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDate" class="control-label">Date of order</label>
        <input type="date" asp-for="OrderDate" class="form-control" />
    </div>
    <div class="form-group">
        @foreach (var status in Model.OrderStatuses)
        {
            <input type="checkbox" name="statuses" value="@status"
                   @(Model.SelectedStatuses.Contains(status) ? "checked=\"checked\"" : "") /> @status.ToString() <br />
            }
    </div>
    <div class="form-group">
        <input type="submit" value="Find" class="btn btn-primary" style="margin: 2% 35%; width: 30%;" />
    </div>
</form>
