<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store</title>
    

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/cart.css" />
        <link rel="stylesheet" href="~/css/footer.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="pt-0">
    <nav class="navbar navbar-expand-lg my-0 mx-0 text-uppercase navbar-dark text-capitalize">
        <a asp-area="" asp-controller="Home" asp-action="TypeSearch" asp-route-goodType="All" class="navbar-brand">Одягальник</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="TypeSearch" asp-route-goodType="All">Домашня сторінка</a>
                </li>

                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Адінпанель</a></li>
                }
                @if (User.IsInRole("manager"))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Index">Керувати замовленнями</a></li>
                }
                @if (User.IsInRole("customer"))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Всі замовлення</a></li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Реєстрація</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Вхід</a></li>
                }
                else
                {
                    @if (User.IsInRole("customer"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="ShowCart">
                                <div class="cart"><img src="~/images/menu-cart.svg" /></div>
                            </a>
                        </li>
                    }
                        <li class="nav-item text-lowercase"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="CustomerSettingPage">@User.Identity.Name</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogOut">Вийти</a></li>
                }
            </ul>
        </div>
    </nav>


<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    @RenderBody()
</div>
<footer >
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col text-center mt-3 mt-lg-3">
                <p class="footer__text">PurchLand</p>

            </div>
            <div class="col-lg-4 col text-center mt-3 mt-lg-3">
                <a asp-area="" asp-controller="Home" asp-action="About" class="footer__link">About</a>
            </div>
            <div class="col-lg-4 col icons mt-3 mt-lg-3">
                <p class="footer__text">Follow us:&nbsp;&nbsp;</p>
                <a class="nav-link" href="#">
                    <div><img src="~/images/facebook.svg" /></div>
                </a>
                <a class="nav-link" href="#">
                    <div><img src="~/images/linkedin.svg" /></div>
                </a>
                <a class="nav-link" href="https://github.com/OlehKuts99/TeamProject">
                    <div><img src="~/images/github.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</footer>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
@RenderSection("Scripts", required: false)

</body>
</html>