@model Store.ViewModels.ErrorPageVIew
@{
    ViewBag.Title = "Phone invalid error!";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css" />
<link rel="stylesheet" href="~/css/footer.css" />
<div class="center-text">
    <h4>@ViewBag.Message</h4>
    <a asp-action="Register" asp-controller="Account">Try another</a>
</div>