@model Store.ViewModels.ChangePasswordView
@{
    ViewBag.Title = "Change password";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" asp-controller="Account" style="margin-top: 5%;">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" style="margin: 2% 35%; width: 30%;" />
            </div>
        </form>
    </div>
</div>