@{
    ViewData["Title"] = "Forgot password information";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<h2>@ViewData["Title"]</h2>

<div class="center-text">
    <p>
        Please check your email to change your password.
    </p>
    <a asp-action="Index" asp-controller="Home">Main page</a>
</div>