@model Store.ViewModels.RegisterView

@{
    ViewData["Title"] = "Registration";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/cart.css"/>
<link rel="stylesheet" href="~/css/footer.css"/>
<link rel="stylesheet" href="~/css/Registration.css" />
<div class="row justify-content-center">
    <div class="col col-lg-7 my-3">
        <div id="login-div">
            <h2>Реєстрація</h2>

            <form method="post" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <span asp-validation-for="FirstName"></span>
                    <input asp-for="FirstName" placeholder="Ім'я" class="half left">
                    <span asp-validation-for="SecondName"></span>
                    <input asp-for="SecondName" placeholder="Прізвище" class="half right">
                </div>
                <div>
                    <span asp-validation-for="Phone"></span>
                    <input asp-for="Phone" placeholder="Телефон" />
                </div>
                <div>
                    <span asp-validation-for="Email"></span>
                    <input type="email" asp-for="Email" placeholder="Емейл">
                </div>
                <div>
                    <span asp-validation-for="Password"></span>
                    <input asp-for="Password" placeholder="Пароль">
                </div>
                <div>
                    <span asp-validation-for="PasswordConfirm"></span>
                    <input asp-for="PasswordConfirm" placeholder="Підтвердження пароля">
                </div>
                <div>
                    <input id="button1" type="submit" value="Зареєструватися" />
                </div>
            </form>
        </div>
    </div>
</div>